@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h3,
p {
  font-family: "Poppins", sans-serif !important;
}

h3 {
  font-weight: 500;
  order: -1;
  font-size: 1.2em !important;
}

.ui-accordion {
  border: 2px solid rgba(0, 0, 0, 0.3) !important;
  padding: 6px !important;
  border-radius: 4px;
}

.ui-accordion-header {
  padding: 10px !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.ui-accordion-header,
.ui-accordion-content {
  min-width: 400px !important;
  max-width: 400px !important;
  width: 100%;
}

.ui-accordion-content p {
  margin-left: -15px;
  opacity: 0 !important;
  visibility: hidden !important;
  transform: translateY(20px) !important;
  transition: 0.3s;
  transition-delay: 0.3s;
}

.ui-accordion-content-active p {
  transform: translateY(0px) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

@media (max-width: 576px) {
  h3 {
    font-size: 16px !important;
  }

  p {
    font-size: 14px !important;
  }

  .ui-accordion-header,
  .ui-accordion-content {
    min-width: 300px !important;
    max-width: 300px !important;
  }
}

@media (max-width: 360px) {
  h3 {
    font-size: 14px !important;
  }
  p {
    font-size: 12px !important;
  }

  .ui-accordion-header,
  .ui-accordion-content {
    min-width: 250px !important;
    max-width: 250px !important;
  }
}
